In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Данные об аудитории.csv')
print(df.head())

         date                               user_id  view_adverts
0  2023-11-11  8c020470-8461-11ed-83d0-552e8cc749d6            13
1  2023-11-18  5875f070-7b92-11ee-a6fb-8b298e83f4f7            14
2  2023-11-29  3c2d27c0-4fd6-11eb-b89f-2ffb31b67dd6            21
3  2023-11-29  234a96d0-ad16-11ed-a2e6-793ddfeeba1f            23
4  2023-11-29  4d07c180-644f-11eb-879c-b7c02edf4f37            12

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16814 entries, 0 to 16813
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          16814 non-null  object
 1   user_id       16814 non-null  object
 2   view_adverts  16814 non-null  int64
dtypes: int64(1), object(2)
memory usage: 394.2+ KB

In [4]:
df = pd.read_csv('Данные об аудитории.csv')
df['date'] = pd.to_datetime(df['date'])

mau = df['user_id'].nunique()

print(f'MAU за ноябрь 2023: {mau}')

MAU за ноябрь 2023: 7639

In [5]:
dau_by_day = df.groupby('date')['user_id'].nunique()
average_dau = dau_by_day.mean()

print(f'Средний DAU за ноябрь 2023: {average_dau:.0f}')

Средний DAU за ноябрь 2023: 560

In [6]:
first_seen = df.groupby('user_id')['date'].min().reset_index()
nov1_users = first_seen[first_seen['date'] == '2023-11-01']['user_id']
nov2_users = df[df['date'] == '2023-11-02']['user_id']
retained_users = set(nov1_users).intersection(set(nov2_users))
retention_rate = len(retained_users) / len(nov1_users) * 100

print(f'Retention первого дня: {retention_rate:.2f} %')

Retention первого дня: 26.65 %

In [7]:
users_with_views = df[df['view_adverts'] > 0]['user_id'].nunique()
total_users = df['user_id'].nunique()
conversion_percent = (users_with_views / total_users) * 100

print(f'Конверсия: {conversion_percent:.2f}%')

Конверсия: 46.31%

In [8]:
total_views = df['view_adverts'].sum()
unique_users = df['user_id'].nunique()
average_views = total_views / unique_users

print(f'Среднее количество просмотров на пользователя: {average_views:.2f}')

Среднее количество просмотров на пользователя: 2.87

In [9]:
total = 2000
promoters = 1200
detractors = 500

nps = (promoters / total * 100) - (detractors / total * 100)
print(f'NPS = {nps}%')

NPS = 35.0%

In [10]:
from scipy.stats import ttest_ind
data = pd.read_csv('Данные АБ тестов.csv')

results = []

for exp_num in data['experiment_num'].unique():
    exp_data = data[data['experiment_num'] == exp_num]
    
    test_group = exp_data[exp_data['experiment_group'] == 'test']
    control_group = exp_data[exp_data['experiment_group'] == 'control']
    
    arpu_test = test_group['revenue'].sum() / test_group['user_id'].nunique()
    arpu_control = control_group['revenue'].sum() / control_group['user_id'].nunique()
    
    stat, p_value = ttest_ind(test_group['revenue'], control_group['revenue'], equal_var = False)
    
    results.append({
        'experiment_num': exp_num,
        'arpu_test': arpu_test,
        'arpu_control': arpu_control,
        'p_value': p_value})

results_df = pd.DataFrame(results)
print(results_df)

   experiment_num   arpu_test  arpu_control   p_value
0               1  665.739583    722.460215  0.688966
1               2  332.929167    704.653763  0.001128
2               3  998.668750    663.206452  0.060315

In [11]:
data = pd.read_csv('Листеры.csv')

total_revenue = data['revenue'].sum()
unique_users = data['user_id'].nunique()
arpu = total_revenue / unique_users

print(f'Средний доход на пользователя: {arpu:.2f}')

Средний доход на пользователя: 156.48

In [12]:
unique_ages = data.drop_duplicates(subset = 'user_id')['age']
median_age = unique_ages.median()

print(f'Медиана возраста пользователя: {median_age}')

Медиана возраста пользователя: 28.0